* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
    overflow: scroll;
}

header{ grid-area: header;
    display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 2fr 1fr 1fr ;
    grid-template-areas: 
    "logo logo frason frason"
    "nav1 nav2 bienvenida bienvenida"
    "nav3 nav4 bienvenida bienvenida";
    justify-items: center;
    align-items: center;
    background-color: lightblue;
    }

header img {
    grid-area: logo;
    width:100px;
    background-color: lightblue;
}

nav {
    display: flex;
    width:100%;
    justify-content: space-around;
    background-color: lightblue;
 }
 nav a {
    text-decoration: none;
    color: blue;
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px;
 }
#head1{
    font-size: 1rem;
}
 #nav1 {
    grid-area:nav1;
    
 }

 #nav2 {
    grid-area:nav2;
    
 }

 #nav3 {
    grid-area:nav3;
    
 }

 #nav4 {
    grid-area:nav4;
    
 }

 .texto {
    color: red;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bold;
    background-color: lightblue;
 }

 #frason{
    grid-area:frason;
 }
 #bienvenida{
   grid-area:bienvenida;
 }

.proxpartido {
    font-size: 30px;
    grid-area: aside;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1 fr;
    grid-template-areas: 
    "titul titul titul"
    "logo2 prim quema"
    "seg seg seg";
 background-color: lightblue;
}

#titul{
   grid-area: titul;
   font-weight: bold;
   background-color: lightblue;
}

#prim{
    grid-area: prim;
    font-weight: bold;
    background-color: lightblue;
}

#seg{
    grid-area: seg;
    font-weight: bold;
    background-color: lightblue;
}

#logo2{
    grid-area: logo2;  
    background-color: lightblue;
    
}

#quema {
    grid-area: quema;
    background-color: lightblue;
    height:15vh;
}

aside img {
    padding: 20px;
    height:15vh;
    background-color: lightblue;
}

#ingreso {
    padding-left:5px ;
    background-color: lightblue;
    display: flex;
   flex-wrap: nowrap;
   grid-area: ingreso;
}



#notdest {
    background-color: red;
    font-weight: bolder;
    justify-self: center;
   
}


#noticias {
    text-decoration: underline solid 1px blue;
}
#noticias img {
    width:100%;
    padding:20px 5px 5px 5px;
    
}

iframe {
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    grid-area: iframe;
}

#menu {
    padding:10px;
    background-color: black;
}

#instructions{
    
    padding-left: 15px;
    padding-top: 15px;
}
#tribunas {
    padding: 20px;
    grid-area: header;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "nav5 nav6 nav7"
    "nav8 nav9 nav10";
    justify-items: center;
    align-items: center;
    background-color: lightblue;
    
    
}


.sectores {
    color:red;
    
}


#nav5 {
    grid-area: nav5;
    padding: 5px;
   
}

#nav6 {
    grid-area: nav6;
    padding: 5px;
}

#nav7 {
    grid-area: nav7;
    padding: 5px;
}

#nav8{
    grid-area: nav8;
    padding: 5px;
}

#nav9 {
    grid-area: nav9;
    padding: 5px;
}

#nav10 {
    grid-area: nav10;
    padding: 5px;
}

#nunca {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
#titnot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.desnot{
    font-size: 2rem;
}

h1{
    width: 100%;
    padding: 10px;
}

aside{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
}

h2{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#tienda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
a img {
    padding:20px;
    height:40vh;
}

#juego {
    grid-area: juego;
}


header{
    font-size: 2rem;
}
p{
    font-size: 3rem;
}

h1{font-size: 3rem;}

h2{font-size: 3rem;}

form{font-size: 2rem;}

@media (min-width:700px){
    
    #mediu {
            grid-area:mediu;
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "iframe juego";
        }
       iframe{
        width:90%;
        height:400px;
       } 
       #tienda{
        padding: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
        grid-template-areas: 
        "titu suple"
        "textitu texsup"
        "negra urbana"
        "textres texrem"
        "buzo bebe"
        "texbuz texbebe"
        "mochi short"
        "texmoch texshor";
              }
             
      #head1{
        padding: 20px;
        grid-area: head1;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas: 
        "nav1 nav2 logo nav3 nav4"
        "frason frason frason frason frason"
        "bienvenida bienvenida bienvenida bienvenida bienvenida";
      }

      .navs{
        font-size: 2rem;
            }

     .texto{
        font-size: 2rem;
          }

    #secondo{
        grid-area: secondo;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding-left: 15px;
         }
    #secondo img {
        width:250px;
        height: 200px;
    }

    #noticias{
        grid-area: noticias;
        display: grid;
        grid-template-columns: 1 fr 1fr;
        grid-template-rows: 3fr 1fr 3fr 1fr;
        grid-template-areas: 
        "noti1 noti2"
        "desnot1 desnot2"
        "noti3 noti4"
        "desnot3 desnot4";
    }

       


}


 #noti1{grid-area: noti1;}
 #noti2{grid-area: noti2;}
 #noti3{grid-area: noti3;}
 #noti4{grid-area: noti4;}
 #desnot1{grid-area: desnot1;}
 #desnot2{grid-area: desnot2;}
 #desnot3{grid-area: desnot3;}
 #desnot4{grid-area: desnot4;}
a:hover{
    background-color:red;
}


.descri{
    font-size:2rem;
}
#titu{
    grid-area: titu;

}

#suple{
    grid-area: suple;
}

#negra{
    grid-area: negra;
}

#urbana{grid-area: urbana;}

#buzo{grid-area:buzo;}

#bebe{grid-area: bebe;}

#mochi{grid-area: mochi;}

#short{grid-area: short;}

#textitu{grid-area: textitu;}

#texsup{grid-area: texsup;}

#texmoch{grid-area: texmoch;}

#textres{grid-area: textres;}

#texrem{grid-area: texrem;}

#texbuz{grid-area: texbuz;}

#texbebe{grid-area: texbebe;}

#texshor{grid-area: texshor;}

